# Final segmented dataset
Data/DM_AIAI_FinalCustomerSegments.csv
Data/DM_AIAI_FinalCustomerSegments_withFinalSegmentation.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
